---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects" aria-label="Projects">
  <h2>Projects</h2>
  <ul>
    {
      projects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</section>
